.todos .latte-item.clickable.selected,
.todos .latte-item.clickable.with-face.selected{
    border-color: #b6e097;
    background-color: #b6e097;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    background: #b6e097;
    border-style: none;
}